# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/VSDeskBand/.vs/VSDeskBand/v16
/VSDeskBand/VSDeskBand/x64
/VSDeskBand/VSDeskBand/VSDeskBand.vcxproj.user
/VSDeskBand/x64
/VSDeskBand/VSDeskBandOperation/x64
/VSDeskBand/VSDeskBandTest/x64
/VSSysResourceMonitor/.vs/SysResourceMonitor/v16
/VSSysResourceMonitor/SysResourceMonitor/GeneratedFiles
/VSSysResourceMonitor/SysResourceMonitor/x64
/VSSysResourceMonitor/SysResourceMonitorService/debug
/VSSysResourceMonitor/SysResourceMonitorService/GeneratedFiles
/VSSysResourceMonitor/SysResourceMonitorService/release
/VSSysResourceMonitor/SysResourceMonitorService/x64
/VSSysResourceMonitor/x64
